{% extends 'buddy/_filter.html' %}

{% block action_buttons %}
    <a class="btn btn-primary" href="{% url type_name|add:'-create' %}">Add {{ title_singular }}</a>
{% endblock %}

{% block extra_action_buttons %}

    {% if request.get_full_path == '/appbuddy/locations/unassigned' %}
        <a href="{% url 'locations-list' %}" class="btn btn-success">All Locations</a>
    {% else %}
        <a href="{% url 'unassigned-list' %}" class="btn btn-danger">Find Unassigned Locations</a>
    {% endif %}
{% endblock %}
{% block table_content %}
    <tr>
        <td><a href="{% url type_name|add:'-edit' pk=obj.pk %}">{{ obj.name }}</a>
        </td>

        <td>{{ obj.partner }}</td>
        <td>{{ obj.city }}</td>
        <td>{{ obj.store_manager_name }}</td>
        {% if request.user.is_superuser %}
            <td><a href="{% url 'devices-edit' obj.device_info.id %}">{{ obj.device_info }}</a></td>
        {% else %}
            <td>{{ obj.device_info }}</td>
        {% endif %}
        <td>{{ obj.agent }}</td>
        <td class="table-action">
            <a href="{% url 'assign-location' obj.pk %}"><i class="fa fa-edit"></i></a>
        </td>
    </tr>
{% endblock %}

