{% extends 'registration/registration_template.html' %}
{% load staticfiles %}
{% block title %} Appbuddy SignIn {% endblock %}
{% block content %}
    <div class="col-md-5 col-md-offset-3">
        <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            <h4 class="nomargin">Sign In</h4>

            <p class="mt5 mb20">Login to access your account</p>
            <input class="form-control uname" type="text" name='username' placeholder="Email Address"/>
            <input type="password" class="form-control pword" name='password' placeholder="Password"/>
            <input type="hidden" name="this_is_the_login_form" value="1"/>
            <a href="{% url 'reset_password' %}">
                <small>Forgot your password?</small>
            </a>

            {% if form.errors %}<p><em>There was an error logging you in. Please check your email and password</em>
                </p>{% endif %}
            <input type="submit" class="btn btn-success btn-block" value="Sign In">
        </form>
    </div>

{% endblock %}
