{% extends 'registration/registration_template.html' %}

{% block title %} Reset Password {% endblock %}
{% block content %}

    <div class="col-md-5 col-md-offset-3">
        <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            <h4 class="nomargin">Reset Password</h4>

            <p class="mt5 mb20">Enter your email address</p>
            <input class="form-control uname" type="text" name='email' placeholder="Email Address"/>
            <input type="submit" class="btn btn-success btn-block" value="Reset Password">
        </form>
    </div>

{% endblock %}