{% extends 'registration/registration_template.html' %}

{% block title %} Reset Successful {% endblock %}
{% block content %}

    <div class="col-md-5 col-md-offset-3">
        <form action="{{ app_path }}" method="post" id="login-form">
            {% csrf_token %}
            <h4 class="nomargin">The password was successfully reset</h4>

            <p class="mt5 mb20">We have successfull reset your password.</p>
            <a href="{{ login_url }}" class="btn btn-success btn-block">Log In</a>
        </form>
    </div>

{% endblock %}